.modalOverlay {
  position: sticky;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}

.modalHeader {
  background: #f6a792;
  border: 3px solid #f6a792;
  border-radius: 4px 4px 0 0;

  svg {
    cursor: pointer;

    &:hover,
    &:hover path {
      fill: wheat;
    }
  }
}

.modalCloseIcon {
  position: absolute;
  top: 5px;
  right: 6px;
  cursor: pointer;
}

.tabsContainer {
  background: #e17f6e;

  svg path {
    fill: black;
  }

  .activeTab {
    color: white !important;
    border: 1px solid white;

    svg path {
      fill: white !important;
    }
  }
}

.enterQtyInput {
  background: #f8f1db;
  color: #1a1917;
  border-radius: 3.53806px;
  border: 1px solid #f6a792;
  width: 70px;
}

.qtySelctorAction {
  user-select: none;
  display: inline-block;
  padding: 1px 5px;
  margin: 0 3px;
  background: #f8f1db;
  border: 0.714286px solid #f6a792;
  color: #f6a792;
  border-radius: 50%;

  &:hover {
    background: #f8f1dbbe;
  }
}

.modalContentContainer {

  thead tr,
  thead tr::after {
    background: #16181d !important;
  }
}

.titleTokenListModal {
  color: #7b3225;
}

.tokenListModalContentContainer {
  background: #e17f6e;
}