.tableHeaderContainer {
  background: #f6a792;
  padding: 10px 23px;
  border: unset;
  border-radius: 4px 4px 0 0;
  margin-top: 16px;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    background: rgb(225, 127, 110);
    height: 3px;
    top: 100%;
    left: 0;
  }
  button {
    padding: 5px 0.65rem;
    margin: 0.5rem;
    svg {
      margin-right: 4px;
      path {
        fill: white;
      }
    }
  }
}

.columnsContianerStyles {
  background: #16181d;
  position: relative;
  overflow: hidden;
  border-right: 2px solid #f6a792;
  &::after {
    top: calc(100% - 2px);
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #16181d;
    left: 0;
  }
  &.tokenListTableHeaderColumns {
    background: #e17f6e;
    &::after {
      background: #e17f6e;
    }
  }
}

.activeTab {
  border: 2px solid #b85948;
  padding: 8px 0.65rem;
  border-radius: 4.35px;
  color: #b85948 !important;
  svg path {
    fill: #b85948 !important;
  }
}

.listTokenButton {
  background: #414654;
  border-radius: 4.3px;
}

.tableSearch {
  background: rgba(0, 0, 0, 0.3);
  height: 35px;
  border-radius: 4.35453px;
  padding-left: 12px;
  width: 250px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.38);
  }
}
.searchIcon {
  position: absolute;
  right: 5px;
}

.tradeButton {
  background: #f6a792;
}

.tableContainer {
  height: 57vh !important;
  overflow-y: scroll;
  width: 100%;
  border-left: 2px solid #f6a792;
  border-bottom: 1px solid #f6a792;
  padding-right: 2px;

  table {
    border-top: unset;
    border-right: 2px solid #f6a792;
    thead {
      position: relative;
    }
  }
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f6a792;
    border-radius: 8px;
  }
}

.ordersTableHeader {
  background: #16181d;
}

.subHeaderActions {
  color: white;
  font-weight: 500;
  background: transparent;
  border: 1.6px solid black;
  &.activeOption {
    color: #e17f6e;
    background: white !important;
    border: unset;
    z-index: 2;
    border-radius: 4px;
    &.sellOrderBtn {
      margin-right: -3px;
    }
    &.buyOrderBtn {
      margin-left: -3px;
    }
  }
}

.subHeaderContainer {
  background: #e17f6e;
  input:checked {
    background: #e17f6e;
  }
}

@media (max-width: 900px) {
  .tableHeaderContainer {
    flex-direction: column !important;
    align-items: stretch !important;
  }
  .headerNavs {
    justify-content: space-between !important;
  }
  table {
    td,
    th {
      padding: 0.5rem 5px !important;
    }
  }
}

@media (max-width: 700px) {
  table {
    td,
    th {
      font-size: 11px !important;
      padding: 3px !important;
    }
  }
}

@media (max-width: 650px) {
  table {
    thead tr {
      display: none !important;
    }
  }
  .tableHeaderContainer {
    padding: 6px 10px !important;
    .headerNavs button {
      font-size: 11.5px !important;
      padding: 4px 0.35rem;
    }
  }
  table {
    td,
    th {
      font-size: 11.5px !important;
      padding: 5.5px !important;
    }
    tr {
      display: flex;
    }
  }
}

@media (max-width: 500px) {
  .tableSearch {
    width: 200px;
  }
  .tableHeaderContainer {
    padding: 6px 5px !important;
    button {
      margin: 0.35rem;
    }
    .headerNavs button {
      font-size: 10.5px !important;
      padding: 4px 0.25rem;
    }
  }
}

@media (max-width: 400px) {
  .tableSearch {
    width: 160px;
  }
}

@media (min-height: 900px) {
  .tableContainer {
    height: 68vh !important;
  }
}
