#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #e38d7b;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contentsSection {
  height: 100vh;
  width: 100vw;
  background: black;
  padding: 4.75rem 10rem 0 10rem;

  .m-siteView {
    display: none;
  }
}

@media (max-width: 1310px) {
  .contentsSection {
    padding: 5.25rem 10px 0 15px;
  }
}

@media (max-width: 600px) {
  .contentsSection {
    padding: 4.75rem 8px 0 10px;
  }

  .tableContainer {
    display: none;
  }

  .m-siteView {
    display: block !important;
    color: white;
    background: #16181d;
    margin-right: 8px;
    border: 1px solid #e38d7b;
    border-radius: 4px;
    height: 56vh !important;
    overflow-y: auto;

    .listItemContainer {
      padding: 10px;
      background: #16181d;
      border: 1px solid #e38d7b;
      border-radius: 4px;
      margin: 10px 7px;
    }
  }
}

@media (max-width: 400px) {
  .contentsSection {
    padding: 6.25rem 4px 0 4px;
  }
}

.admin-control {
  width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

.init-btn {
  background: #e38d7b;
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  border: none
}